@import '../../../Constants/mixins';
.homeChart{
    height: 100%;
    width:100%;
    @include flex-container(row,center,center,50px);
    flex-wrap: wrap;
    div{
        h3{
            font-size: 50px;
        }
        @include flex-container(column,center,center,50px);    
        width:40%;
        min-width: 320px;
        height: 50%;
    }
}